@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Readex Pro', sans-serif;}

/* Common */
.flex { display: flex;}
.grid { display: grid;}
.container { max-width: 1280px; margin: 0 auto;}

/* Header */
.header { padding: 100px 0 220px; background: url(./images/herobg.svg) no-repeat top; background-size: cover;}
.main-heading { font: 700 70px/60px 'Readex Pro', sans-serif; text-align: center; color: #ffffff; padding: 0 0 30px;}
.sub-heading {font: 400 20px/20px 'Readex Pro', sans-serif; text-align: center; color: #ffffff; }

/* Snippets */
.snippets  { margin-top: -110px;}
.snippets .container { padding: 30px; border-radius: 24px; background:#fff; box-shadow: 0 2px 25px 0 rgba(0,0,0,.1);}
.compBtns { background: #e8e8e8; display: flex; justify-content: center; flex-wrap: wrap; border-radius: 20px; padding: 20px;}
.compBtn { font: 500 16px/16px 'Readex Pro', sans-serif; padding: 8px 16px; margin: 7px 5px; background: #fff; color: #46454a; border-radius: 50px;  border: 1px solid #fff;}